<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Button Table</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 50px;
        }

        .btn {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Orders</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Rest API</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://localhost:8000/red-blue-cars" class="btn btn-primary">GET all RED and BLUE cars</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.facebook.com" class="btn btn-primary">Register Owner and Car</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.twitter.com" class="btn btn-primary">GET all owners older than 70 years</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.linkedin.com" class="btn btn-primary">Vehicles on roads with a length less than the permitted width</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.youtube.com" class="btn btn-primary">Tolls of a car and owner in a known period</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.github.com" class="btn btn-primary">Get list of location of all light cars in Tehran and around 600 meters far from first toll</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.stackoverflow.com" class="btn btn-primary">Name and national code of owners who have toll in order of their tolls</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
