<!DOCTYPE html>
<html>
<head>
    <title>Owners with Toll Paid</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Owners with Toll Paid</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>National Code</th>
            <th>Total Toll Paid</th>
        </tr>
        </thead>
        <tbody>
        {% for o in owner %}
        <tr>
            <td>{{ o.name }}</td>
            <td>{{ o.national_code }}</td>
            <td>{{ o.total_toll_paid }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
