<!DOCTYPE html>
<html>
<head>
    <title>Owners</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Owners</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>National Code</th>
                <th>Age</th>
                <th>Total Toll Paid</th>

            </tr>
        {% for owner in message %}
            <tr>
                <td>{{owner.name}}</td>
                <td>{{owner.national_code}}</td>
                <td>{{owner.age}}</td>
                <td>{{owner.total_toll_paid}}</td>
            </tr>
        {% endfor %}
        </thead>
        <tbody id="json-table-body">
        </tbody>
    </table>
</div>

</body>
</html>
