<!DOCTYPE html>
<html>
<head>
    <title>Owners</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Owners</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>National Code</th>
            <th>Age</th>
            <th>Total Toll Paid</th>
            <th>Car IDs</th>

        </tr>

        <tr>
            <td>{{found.name}}</td>
            <td>{{found.national_code}}</td>
            <td>{{found.age}}</td>
            <td>{{found.total_toll_paid}}</td>
            <td>{{car_ids}}</td>
        </tr>

        </thead>
        <tbody id="json-table-body">
        </tbody>
    </table>
</div>

</body>
</html>
